@import "tailwindcss";

@font-face {
  font-family: "MEK Sans";
  src: url("/fonts/MEKSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: "MEK Sans", sans-serif;
}
